<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chỉnh sửa sản phẩm</title>
</head>
<body>
<h2>Chỉnh sửa sản phẩm</h2>
<form action="#" th:action="@{/products/update/{id}(id=${product.id})}" th:object="${product}" method="post">
    <label>Name:</label>
    <input type="text" th:field="*{name}" />
    <label>Price:</label>
    <input type="number" th:field="*{price}" />
    <label>Description:</label>
    <input type="text" th:field="*{description}" />
    <button type="submit">Update</button>
</form>
</body>
</html>
